﻿#collage hr{
    border:none;
    border-top:2px solid #f5f2f2;
    height:1px;
}

#collage #playPanel {
    background-color:#12273d;
    padding:10px 0px;
    margin: 10px auto;
    max-width:1000px;
    width:95%;
}

#collage #actualImageBox {
    display: inline-block;
    font-size:0.8em;
    margin: 10px 10PX;
    vertical-align: top;
    width:400px;
}

 #collage #timeBox {
    display:inline-block;
    width:40%;
}

#collage #sortable {
    border:2px solid rgb(77, 7, 30);
    list-style-type: none;
    display: inline-block;
    margin:10px;
    padding: 0;
    width: 500px;
    height: 400px;
}


#start {
    position:absolute;
    z-index: 2;
}

#buttons {
    position:absolute;
    z-index: 1;

}


#fans {
    position:absolute;
    z-index: 1;

}

#background {
    position:absolute;
    z-index: 0;
}

.center {
    display: inline;
    margin-top: 95px;
}

  #form #playPanel {
    background-color:#12273d;
    padding:10px 0px;
    margin: 10px auto;
    max-width:1000px;
    width:95%;
}

#form #questions {
    margin-left: 30px;
    margin-top: 20px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }