﻿#collage hr{
    border:none;
    border-top:2px solid #f5f2f2;
    height:1px;
}

#collage #playPanel {
    background-color:#12273d;
    padding:10px 0px;
    margin: 10px auto;
    max-width:1000px;
    width:95%;
}

#collage #actualImageBox {
    display: inline-block;
    font-size:0.8em;
    margin: 10px 10PX;
    vertical-align: top;
    width:400px;
}

 #collage #timeBox {
    display:inline-block;
    width:40%;
}

#collage #sortable {
    border:2px solid rgb(77, 7, 30);
    list-style-type: none;
    display: inline-block;
    margin:10px;
    padding: 0;
    width: 500px;
    height: 400px;
}

#right {
    position:absolute;
    z-index: 3;
  
}

#start {
    position:absolute;
    z-index: 2;
}

#square {
    position:absolute;
    z-index: 1;

}

#background {
    position:absolute;
    z-index: 0;
}

.center {
    display: inline;
    margin-left: 48px;
    margin-top: 38px;
}

  #form #playPanel {
    background-color:#12273d;
    padding:10px 0px;
    margin: 10px auto;
    max-width:1000px;
    width:95%;
}

#form #questions {
    margin-left: 30px;
    margin-top: 20px;
};



